configuration {
modi: "combi,window,";
font: "inconsolata 22";
show-icons: true;
drun-match-fields: "name,generic,exec,categories";
levenshtein-sort: true;
sidebar-mode: true;
combi-modi: "drun,run,ssh";
matching: "fuzzy";
combi-hide-mode-prefix: true;
}
/* @theme "~/.config/rofi/themes/nord.rasi" */
@theme "~/.config/rofi/themes/dracula.rasi"
listview {
	lines: 10;
	columns: 1;
}

window {
	width: 20%;
}
